parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Model/AbstractResponseModel.php

		-
			message: "#^Variable method call on \\$this\\(Scn\\\\DeeplApiConnector\\\\Model\\\\AbstractResponseModel\\)\\.$#"
			count: 1
			path: src/Model/AbstractResponseModel.php

