<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.4/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        verbose="true">

    <testsuites>
        <testsuite name="Unittests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">vendor/</directory>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>