<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false" verbose="true">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor/</directory>
      <directory suffix=".php">tests/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Unittests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
